@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    
    background: linear-gradient(to left,  #da9cba, #f1ce82 ) ;
display: grid;


}
section{
    float: left;

}
form{
    margin: 50px 20px 0px 120px;
    background-color: white;
    border-radius: 10px;
    max-width: 80%;
    

    
    
}

.left-box{
    background-color: rgb(240, 207, 145);
    max-width: 38%; 
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 40px;
}
h5{
    margin-left: 5%;
    color: #695d15;
    background: none;
    margin-bottom: 50px;
    cursor: pointer; 
    font-size: medium;

}

h1{
    max-width: 60%;
    color: rgb(139, 93, 6);
    
}
img{
    width: 350px;
    height: 300px;
}

.form{
  padding: 5px 0px 0px 125px ;
}
#user-status{
    text-align: right;
    margin-left: 250px;
}
.bottom a{
    text-decoration: none;
    color: #153be2;
    
}

.icon1 {
    background-color: #153be2; ;
    border: thistle;
    width: 262px;
    height: 30px;
    border-radius: 5px;
}
.icon1 a{
    color: white;
    text-decoration: none;
    font-size: 15px;
}
.icons{
    border: thistle;
    background-color: rgb(224, 221, 221);
    width: 50px;
    height: 30px;
    border-radius: 5px;
}
.icon a{
    text-decoration: none;
    color: grey;
}

hr{
width: 170px;
    
}
.name input{
    border-radius: 5px;
    border: thistle;
    background-color: rgb(224, 221, 221);
    width: 175px;
    height: 25px;
}
.details input{
    width: 370px;
    height: 25px;
    border-radius: 5px;
    border: thistle;
    background-color: rgb(224, 221, 221);
    
}
.chexbox{
    max-width: 400px;
    font-size: small;
}
.create-account{
    width: 150px;
    height: 30px;
    background-color: #eb4b8a;
    border: white;
    color: white;
}
#finish{
    font-size: smaller;
    padding-top: 100px;
    max-width:300px ;
    
}